.navbar-maindiv{
     border: solid black 1px;
     height: 80px;
     display: flex;
     justify-content: space-between;
     align-items: center;

  
}



.logo-title-searchbar{
     border: solid blue 1px;
     width: 50%;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     font-size: 1.5rem;

     #logo{
               height: 80px;
               width: 80px;
               }

          #navbar-title{
               border: solid red 1px;
               margin-left: 20px;
          }

          #searchbar{
               margin: auto;
               width: 75%;
               height: 50px;
               border-radius: 10px;
               border: none;
          }


}
          
.navlinks-container{
     border: solid green 1px;
     width: 20%;
     display: flex;
     justify-content: space-evenly;

      .nav-links{
       font-size: 1.5rem;
      }
}